{% extends 'base2.html' %}
{% load static %}
{% block body %}
 <div class="col-md-6">
                            <div class="page-header">
                                <h2>Edit_Team</h2>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Designation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in team %}
                                    <tr>
                                        <td>{{i.name}}</td>
                                        <td>{{i.designation}}</td>
                                        <td>
                                         <form action=""method="post">
                                            {% csrf_token %}
                                            <button type="submit" name="delete" value="{{ i.id }}" class="btn btn-danger">Delete</button>
                                         </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
 </div>

<div class="col-md-6">
                            <div class="page-header">
                                <h2>Add Team</h2>
                            </div>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Name</label>
                                    <input type="text" name='name' class="form-control" id="exampleInputEmail1" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">designation</label>
                                    <input type="text" name='designation' class="form-control" id="exampleInputEmail1" placeholder="Designation">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputFile">Image</label>
                                    <input type="file" name="img" id="exampleInputFile">
                                </div>
                                 <div class="form-group">
                                    <label for="exampleInputUrl">facebook</label>
                                    <input type="url" name="fb" id="exampleInputFile">
                                </div>

                                 <div class="form-group">
                                    <label for="exampleInputUrl">instagram</label>
                                    <input type="url" name="insta" id="exampleInputFile">
                                </div>

                                 <div class="form-group">
                                    <label for="exampleInputUrl">twitter</label>
                                    <input type="url" name="tu" id="exampleInputFile">
                                </div>


                                <button type="submit" name="addteam" class="btn btn-default">Submit</button>
                            </form>
                    </div>

{% endblock %}
